<form [formGroup]="formulario" (ngSubmit)="enviar()">

  <mat-card class="formulario">
    <mat-card-title>Cadastro Automoveis</mat-card-title>

    <br>

    <mat-form-field appearance="fill">

      <mat-label>Veiculo</mat-label>
      <input matInput formControlName="veiculo" name="Veiculo">

      <mat-error *ngIf="formulario.controls['veiculo'].hasError('required')">O campo deve ser preenchido</mat-error>
      <mat-error *ngIf="formulario.controls['veiculo'].hasError('maxlength')">O campo deve ter no máximo 32 caracteres
      </mat-error>

    </mat-form-field>

    <br><br>

    <mat-form-field appearance="fill">

      <mat-label>Descrição</mat-label>
      <input matInput formControlName="descricao" name="Descricao">

      <mat-error *ngIf="formulario.controls['descricao'].hasError('required')">O campo deve ser preenchido</mat-error>
      <mat-error *ngIf="formulario.controls['descricao'].hasError('maxlength')">O campo deve ter no máximo 16 caracteres
      </mat-error>

    </mat-form-field>

    <br><br>

    <mat-form-field appearance="fill">

      <mat-label>Quilometragem</mat-label>
      <input matInput formControlName="quilometragem" name="Quilometragem">

      <mat-error *ngIf="formulario.controls['quilometragem'].hasError('required')">O campo deve ser preenchido</mat-error>
      <mat-error *ngIf="formulario.controls['quilometragem'].hasError('maxlength')">O campo deve ter no máximo 16 caracteres
      </mat-error>

    </mat-form-field>

    <br><br>
    <mat-form-field appearance="fill">

      <mat-label>Valor</mat-label>
      <input matInput formControlName="valor" name="Valor">

      <mat-error *ngIf="formulario.controls['valor'].hasError('required')">O campo deve ser preenchido</mat-error>
      <mat-error *ngIf="formulario.controls['valor'].hasError('maxlength')">O campo deve ter no máximo 16 caracteres
      </mat-error>

    </mat-form-field>

    <br><br>

    <mat-checkbox color="primary" formControlName="receberNovidades">Desejo receber as novidades por e-mail.
    </mat-checkbox>

    <br><br><br>

    <mat-card-actions>
      <button mat-button (click)="limpar()" type="reset">
        <mat-icon>clear</mat-icon>
        LIMPAR
      </button>
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>send</mat-icon>    
        ENVIAR
      </button>
    </mat-card-actions>

  </mat-card>

</form>

<div *ngIf="jsonDados" class="dados-enviados">
  <h3>Dados enviados:</h3>
  <p>{{ jsonDados }}</p>
</div>
